.law-container {
    width: 100%;
}

.law-list {
    max-width: 100%;
}

.law-item {
    background: #252525!important;
    color: #ffffff!important;
    transition: background 500ms;
    width: 25%;
    height: 100px;
    float: left;
}

.law-item:hover {
    cursor: pointer;
    background: #4e4e4e!important;
}

.law-item .lawlist-title {
    color: #ffffff!important;
    font-size: 14px;
    text-align: center;
}

.law-item .lawlist-fine {
    color: #ffffff!important;
    font-size: 12px;
    margin-bottom: 0!important;
}

.law-item .lawlist-months {
    color: #ffffff!important;
    font-size: 12px;
    margin-bottom: 0!important;
}

#lawsearch:focus {
    border: none!important;
    outline: none!important;
}